<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans> 

	<!-- Pour simuler les accés à base de données -->
	<bean id="database" class="fr.alma.soa.boutique.infra.Database" />
	<bean id="productRepo" class="fr.alma.soa.boutique.infra.Repository.impl.ProductRepoImpl">
		<property name="database" ref="database"></property>
	</bean>
	<bean id="categoryRepo" class="fr.alma.soa.boutique.infra.Repository.impl.CategoryRepoImpl">
		<property name="database" ref="database"></property>
	</bean>
	<bean id="shoppingCartRepo" class="fr.alma.soa.boutique.infra.Repository.impl.ShoppingCartRepoImpl">
		<property name="database" ref="database"></property>
	</bean>
	<bean id="customerRepo" class="fr.alma.soa.boutique.infra.Repository.impl.CustomerRepoImpl">
		<property name="database" ref="database"></property>
	</bean>
	<bean id="modelFactory" class="fr.alma.soa.boutique.domaine.factory.ModelFactoryImpl">
	</bean>
	<bean id="dtoModelFactory" class="fr.alma.soa.boutique.domaine.factory.DtoModelFactoryImpl">
	</bean>
	<bean id="productService" class="fr.alma.soa.boutique.domaine.service.impl.ProductServiceImpl">
		<property name="productRepo" ref="productRepo"></property>
		<property name="modelFactory" ref="modelFactory"></property>
		<property name="dtoModelFactory" ref="dtoModelFactory"></property>
	</bean>
	<bean id="shoppingCartService" class="fr.alma.soa.boutique.domaine.service.impl.ShoppingCartServiceImpl">
		<property name="productRepo" ref="productRepo"></property>
		<property name="shoppingCartRepo" ref="shoppingCartRepo"></property>
		<property name="modelFactory" ref="modelFactory"></property>
		<property name="dtoModelFactory" ref="dtoModelFactory"></property>
	</bean>
	<bean id="categoryService" class="fr.alma.soa.boutique.domaine.service.impl.CategoryServiceImpl">
		<property name="categoryRepo" ref="categoryRepo"></property>
		<property name="modelFactory" ref="modelFactory"></property>
		<property name="dtoModelFactory" ref="dtoModelFactory"></property>
	</bean>
	<bean id="customerService" class="fr.alma.soa.boutique.domaine.service.impl.CustomerServiceImpl">
		<property name="customerRepo" ref="customerRepo"></property>
		<property name="modelFactory" ref="modelFactory"></property>
		<property name="dtoModelFactory" ref="dtoModelFactory"></property>
	</bean>
	<bean id="boutiqueServices" class="fr.alma.soa.boutique.application.webservice.impl.BoutiqueWebServicesImpl">
		<property name="productService" ref="productService"></property>
		<property name="shoppingCartService" ref="shoppingCartService"></property>
		<property name="categoryService" ref="categoryService"></property>
		<property name="customerService" ref="customerService"></property>
	</bean>
	<bean id="app" class="fr.alma.soa.boutique.application.boot.App" >
		<property name="boutiqueServices" ref="boutiqueServices"></property>
		
	</bean>
</beans>