<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans> 

	<!-- Pour simuler les accés à base de données -->
	 <bean id="database" class="fr.alma.soa.boutique.infra.Database" />
	<bean id="productRepo" class="fr.alma.soa.boutique.infra.Repository.impl.ProductRepoImpl">
		<property name="database" ref="database"></property>
	</bean>
	<bean id="modelFactory" class="fr.alma.soa.boutique.domaine.factory.ModelFactoryImpl">
	</bean>
	<bean id="dtoModelFactory" class="fr.alma.soa.boutique.domaine.factory.DtoModelFactoryImpl">
	</bean>
	<bean id="productService" class="fr.alma.soa.boutique.domaine.service.impl.ProductServiceImpl">
		<property name="productRepo" ref="productRepo"></property>
		<property name="modelFactory" ref="modelFactory"></property>
		<property name="dtoModelFactory" ref="dtoModelFactory"></property>
	</bean>
	<bean id="boutiqueWebService" class="fr.alma.soa.boutique.application.webservice.impl.BoutiqueWebServicesImpl">
		<property name="productService" ref="productService"></property>
	</bean>
</beans>